@model Jäsenrekisteri2.Models.Login

@{
    ViewBag.Title = "Poiston varmistus";
}


<div>
    <h3>Haluatko varmasti poistaa jäsenen/käyttäjän?</h3>
    <h4>Operaatiota ei voida perua.</h4>
    <hr />
    <dl class="">

        <dd>
            <h4>
                Jäsenen nimi: @Html.DisplayFor(model => model.fullname)
            </h4>
        </dd>
        <dd>
            <h4>
                Käyttäjänimi: @Html.DisplayFor(model => model.username)
            </h4>
        </dd>



    </dl>
    <div class="col-lg-offset-2">
        <label class="text-danger">
            @ViewBag.DeleteUserError
        </label>
        <label class="text-success">
            @ViewBag.ActionSuccess
        </label>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Poista" class="btn btn-default" /> |
            @Html.ActionLink("Takaisin listaan", "Index")
        </div>
    }
</div>
