@model Jäsenrekisteri2.Models.Login

@{
    ViewBag.Title = "RYHMÄ RY - Jäsenen käyttäjän muokkaus";
}

<h3>RYHMÄ RY - Jäsenen käyttäjän muokkaus</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Olethan varuillasi muokatessasi tietoja</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.member_id)
    @Html.HiddenFor(model => model.lastseen)
    @Html.HiddenFor(model => model.joinDate)


    <div class="form-group">
        @Html.Label("Käyttäjänimi", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control", @minlength = "5", @maxlength = "30" } })
            @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Sähköposti", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @minlength = "5", @maxlength = "40" } })
            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Etunimi", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.firstname, new { htmlAttributes = new { @class = "form-control", @minlength = "2", @maxlength = "40" } })
            @Html.ValidationMessageFor(model => model.firstname, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Sukunimi", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.lastname, new { htmlAttributes = new { @class = "form-control", @minlength = "2", @maxlength = "50" } })
            @Html.ValidationMessageFor(model => model.lastname, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.admin, htmlAttributes: new { @class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.admin, new { htmlAttributes = new { @class = "form-control", @max = "1" } })
            @Html.ValidationMessageFor(model => model.admin, "1 jos admin, muuten 0 tai tyhjä", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Salasana", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", @minlength = "5", @maxlength = "30" } })
            @Html.ValidationMessageFor(model => model.password, "Pidä kenttä tyhjänä, ellet halua muuttaa salasanaa!", new { @class = "text-danger" })
        </div>
    </div>
</div>
    <div class="col-lg-offset-2">
        <label class="text-danger">
            @ViewBag.CreateUserError
        </label>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tallenna" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Peruuta", "Index", "Home")
</div>
