@model IEnumerable<Jäsenrekisteri2.Models.Login>
@using Jäsenrekisteri2.Models;

@{
    ViewBag.Title = "Jäsenlista - Ylpeät jäsenemme";
}

<h3><b>Ryhmä RY - Ylpeät jäsenet</b></h3>


<table class="table table-hover">
    @if (Session["Username"] == null)
    {
        <tr>
            <th>
                Nimi
            </th>
            <th>
                Liittynyt
            </th>
            <th>
        </tr>
    }
    @if (Session["Username"] != null)
    {
        if (Session["Permission"] != null && Session["Permission"].Equals(1))
        {
            <p><b>
    @Html.ActionLink("LUO UUSI", "Create", "Login")
            </b>
            </p>
        }
        <tr>
            <th>
                Nimi
            </th>
            <th>
                Liittynyt
            </th>
            <th>
                Sähköposti
            </th>
            <th>
                Admin
            </th>
        </tr>
    }

    @foreach (var item in Model)
    {
        if (Session["Username"] == null)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.fullname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.joinDate)
                </td>
                <td>
                    @Html.ActionLink("Kirjaudu lisätietoja varten", "Login", "Login")
                </td>
            </tr>
        }
        else if (Session["Username"] != null)
        {

<tr>
    <td>
        @Html.DisplayFor(modelItem => item.fullname)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.joinDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.email)
    </td>
    @if (item.admin.Equals(1))
    {
        <td>KYLLÄ</td>

    }
    else
    {
        <td>EI</td>
    }
    @if (Session["Permission"] != null && Session["Permission"].Equals(1))
    {
        <td>
            @Html.ActionLink("Poista", "Delete", "Login", new { id = item.member_id }, null) |
            @Html.ActionLink("Muokkaa", "Edit", "Login", new { id = item.member_id }, null)
        </td>
}
</tr>
        }
    }

</table>
